.card{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 6px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    height:90px;
    width:120px;
    cursor: pointer;
}

.reveal{
    transform: rotateY(180deg);
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
    transform: rotateY(0deg);
}

.unreveal{
    background: linear-gradient(150deg, #fda57b, #b297f2 100%);
    transform: rotateY(0deg);
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
    transform: rotateY(-180deg);
}

.matched{
    border:none;
    cursor:unset;
    transform: scale(0.02);
    transition: transform ease 500ms;
}